.wrapper {
  position: relative;
}

.input {
  width: 350px;
  padding: 12px 20px 12px 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  transition: all 2s ease-in-out;

  &:focus, &:hover {
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}

.searchIcon {
  left: 14px;
}

.clearIcon {
  right: 14px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}



